<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SpringBoot + websocket+ 广播</title>
</head>
<body onload="disconnect()">
<div>
  <div>
    <button id="connect" onclick="connect();">连接</button>
    <button id="disconnect" onclick="disconnect();" disabled="disabled">断开连接</button>
  </div>
  <div>
    <label>myUserId</label>
    <input type="text" id="myUserId" />
  </div>
  <div>
    <label>toUserId</label>
    <input type="text" id="toUserId" />
  </div>
  <div>
    <label>message</label>
    <input type="text" id="message" />
  </div>
  <div>
    <button id="send" onclick="send();">单独发送</button>
    <button id="broadcast" onclick="broadcast();">广播</button>
  </div>
  <div>
    <p id="response"></p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script type="text/javascript">


  function setConnected(connected){
    if(connected){
      $("#connect").prop("disabled",true);
      $("#disconnect").prop("disabled",false);
    }else{
      $("#disconnect").prop("disabled",true);
      $("#connect").prop("disabled",false);
    }
  }
  var ws = null;
  function connect(){
    var myUserId = $("#myUserId").val();
    ws = new WebSocket("ws://localhost:8080/sendMessage?myUserId=" + myUserId);

    ws.onopen = function(evt){
      console.log("connect success");
      setConnected(true);
    }

    ws.onmessage = function(evt){
      $("#response").append("<span>"+ evt.data+"</span></br>")
    }

    ws.onclose = function(evt){
      console.log("connection close");
      setConnected(false);
    }
  }

  function disconnect(){
    if(ws != null){
      ws.close();
      setConnected(false);
    }

  }

  function send() {
    var fromUserId = $("#myUserId").val();
    var toUserId = $("#toUserId").val();
    var message = $("#message").val();
    ws.send(JSON.stringify({
      fromUserId: fromUserId,
      toUserId: toUserId,
      message: message
    }));
  }

  function broadcast() {
    var fromUserId = $("#myUserId").val();
    var message = $("#message").val();
    ws.send(JSON.stringify({
      fromUserId: fromUserId,
      toUserId: 0,
      message: message
    }));
  }
</script>
</body>
</html>