<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common::commonHeader('Order List')"></head>
<body>
<div th:include="common::commonNav"></div>
<h2>Order List</h2>
<table class="table">
  <thead>
  <tr>
    <td>Order Id</td>
    <td>Buyer name</td>
    <td>Seller name</td>
    <td>Item name</td>
    <td>Item description</td>
    <td>price</td>
    <td>Order time</td>
  </tr>
  </thead>
  <tbody>
  <tr th:each="orderView:${orderViewList}">
    <td >
      <a th:href="@{'/order/detail/' + ${orderView.order.id}}" th:text="${orderView.order.id}"></a>
    </td>
    <td th:text="${orderView.buyer.name}"></td>
    <td th:text="${orderView.seller.name}"></td>
    <td th:text="${orderView.item.name}"></td>
    <td th:text="${orderView.item.description}"></td>
    <td th:text="${orderView.item.price}"></td>
    <td th:text="${orderView.order.createdTime}"></td>
  </tr>
  </tbody>
</table>
<div th:include="common::commonFooter"></div>
</body>
</html>